* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
 
h1 {
    color: #121212;
    text-align: center;
}
 
header {
    background-color: #2f3640;
    padding: 16px 8px;
}
 
nav {
    display: flex;
    justify-content: center;
}
 
a {
    text-decoration: none;
    color: #121212;
    font-weight: bold;
}
 
h2 {
    color: #121212;
    text-align: center;
}
 
#politics {
    background-color: #A38C32;
    margin-top: 40px;
}
 
#sports {
    background-color: rgba(0, 255, 0, 0.3);
}
 
section {
 
    margin-top: 10px;
}
 
img {
    width: 350px;
    height: 200px;
}
 
p {
    font-size: 15px;
}
 
.articles {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
 
.articles article {
    width: 30%;
}
 
footer {
 
    text-align: center;
    padding: 10px 0;
}
 
.articles article a {
    display: inline-block;
    background-color: lightseagreen;
    padding: 5px;
    border-radius: 5px ;
}
 
.articles article a:hover {
    text-decoration: underline;
    background-color: darkseagreen;
}
 

/* .articles article a:hover {
    text-decoration: underline;
    background-color: darkseagreen;
} */